.loginContainer{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 50vw;
    padding: 2rem;
    margin:25vh auto;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    border: .125em solid black;
    background-color: cadetblue;
    width: 80%;
    height: 75%;
}

